/** @format */

$corporate_color: #49abfd;
$main_text_color: #0d5490;

@mixin mainContent($size, $color) {
	max-width: 1920px;
	width: 100%;
	margin: auto;
	font-size: $size;
	// font-family: "Open Sans", sans-serif;
	color: $color;
	font-family: "Montserrat", sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
}

p {
	padding: 0;
	margin: 0;
}

a:hover {
	text-decoration: none;
}

.section-button-text {
	margin-top: 48px;
}

@mixin content($padd...) {
	max-width: 1632px;
	width: 90%;
	margin: auto;
	padding: $padd;
}

@mixin grid($gap, $fr...) {
	display: grid;
	grid-template-columns: $fr;
	grid-gap: $gap;
}

@mixin btn($size, $bg, $border, $color, $pad...) {
	letter-spacing: 0.06em;
	letter-spacing: 0.06em;
	font-size: $size;
	background: $bg;
	border-radius: 5px;
	width: fit-content;
	padding: $pad;
	display: flex;
	justify-content: center;
	align-content: center;
	color: $color !important;
	transition-duration: 0.5s;
	border: 1px solid $border;
	text-align: center;
	font-weight: 600;
}

.futer_main a {
	text-decoration: none;
	color: #fff;
}

.futer_main {
	background: radial-gradient(317.4% 1805.73% at 112.11% 75%, #041c80 0%, #dde5ff 100%), #002fcc;
	color: #fff;
	margin-top: 120px;
}

.iconFeed {
	@include grid(16px, repeat(auto-fit, minmax(40px, auto)));
	justify-content: start;
	margin-top: 20px;
}

.content {
	@include content(0px 0 0px);
}

.section-btns {
	@include grid(60px, auto auto);
	justify-content: left;
}

.section-button {
	@include btn(14px, $corporate_color, $corporate_color, #fff, 15px 67px);
	border-radius: 5px;
}

.section-buttonWhite {
	@include btn(14px, #ffffff00, $corporate_color, $corporate_color, 15px 30px);
	border-radius: 5px;
}

.section-buttonToolbar {
	@include btn(14px, #ffffff00, $corporate_color, $corporate_color, 8px 30px);
	border-radius: 5px;
}

.section_h1 {
	font-size: 64px;
	font-weight: 700;
}
.section_h2 {
	font-size: 24px;
	font-weight: 500;
	max-width: 600px;
}
.section_h3 {
	font-size: 16px;
}

.section-button a {
	color: inherit;
	font-weight: 800;
}
.section-button:hover {
	cursor: pointer;
	background: #ffffff00;
	color: $corporate_color !important;
}
.section-buttonWhite:hover {
	cursor: pointer;
	background: $corporate_color;
	color: #fff !important;
}
.section-buttonToolbar:hover {
	cursor: pointer;
	background: $corporate_color;
	color: #fff !important;
}

.header {
	@include grid(40px, 1fr);
	align-items: center;
	justify-content: space-between;
	margin-bottom: 32px;
}

//как использовать - main_content{@include mainContent}

.main_content {
	@include mainContent(14px, $main_text_color);
	background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/266950/content_group_278.png) no-repeat 100% 166px/54%, #f2f6f8;
	padding-top: 100px;
}
.js-body {
	background: #f2f6f8;
}
.line {
	max-width: 700px;
	background: rgba(11, 72, 112, 0.4);
	width: 100%;
	height: 3px;
	margin: 65px 0 40px;
	opacity: 0.2;
}
.footer {
	color: #809daf;
	background: inherit;
	font-size: 18px;
	.head {
		padding-bottom: 12px;
	}
}
a:link {
	color: inherit;
}
a:visited {
	color: inherit;
}
.img {
	img {
		max-width: 1047px;
		width: 100%;
	}
}
.column {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.modile {
	display: none;
}
.iconFeed2 {
	justify-content: end;
}
.toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
	.toolbar__feedback {
		@include grid(15px, 1fr 1fr 1fr);
		align-items: center;
	}
}
@media (max-width: 1450px) {
	.main_content {
		background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/266950/content_group_278.png) no-repeat 100% 114%/68%, #f2f6f8;
		padding-top: 80px;
	}
	.section_h1 {
		font-size: 48px;
	}
	.section_h2 {
		font-size: 18px;
	}

	.header {
		margin-bottom: 24px;
	}
	.lime {
		margin: 48px 0 39px;
	}
	.footer {
		padding-bottom: 70px;
	}
	.section-button-text {
		margin-top: 32px;
	}
}

@media (max-width: 900px) {
	.main_content {
		background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/266950/content_group_278.png) no-repeat 100% 80%/64%, #f2f6f8;
		padding-top: 47px;
	}
	.modile {
		display: block;
	}
	.desctop {
		display: none;
	}
	.main_content {
		background: #f2f6f8;
	}
	.column {
		grid-template-columns: 1fr;
	}
	.img {
		.modile {
			position: relative;
			right: 0%;
			max-width: 500px;
			margin: auto;
			margin-top: -154px;
		}
	}
	.section_h1 {
		font-size: 32px;
	}
	.section_h2 {
		font-size: 16px;
	}

	.header {
		margin-bottom: 40px;
	}
	.line {
		margin: 40px 0;
	}
	.footer {
		padding-bottom: 0px;
	}
	.toolbar {
		.toolbar__feedback {
			grid-template-columns: 1fr;
		}
		.massenger_futer {
			display: none;
		}
	}
}

@media (max-width: 800px) {
}

@media (max-width: 660px) {
	.section-btns {
		grid-template-columns: 1fr;
	}
	.logo {
		width: 100px;
	}
}

@media (max-width: 560px) {
	.section_h1 {
		order: 2;
	}
	.img .modile {
		position: relative;
		right: 0%;
		max-width: 500px;
		margin: auto;
		margin-top: -90px;
	}
	.iconFeed2 {
		justify-content: left;
	}
	.footer {
		font-size: 14px;
	}
}
