.modal-wrapper
    .modal-wrapper-block(data-popup='banner')
        .modal-block
            img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/219819/content_cancel.png' alt='')
            .modal-content 
                .list 
                    p.p__list В зависимости от формата баннера, рекламу будет видно:
                    .list__li на всех страницах рубрики и в товарах других поставщиков. Будете выше всех!
                    .list__li на всех страницах рубрики после 5-го товара. Единственный баннер среди товаров!
                    .list__li на всех страницах рубрики, всегда в 1ом экране. Самый крупный баннер на странице!  
                    .list__li усиление продаж и повышение узнаваемости
    .modal-wrapper-block(data-popup='popup1')
        .modal-block
            img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/219819/content_cancel.png' alt='')
            .modal-content 
                .list 	
                    .list__li усиление продаж группы товаров
                    .list__li быстрый старт региональных продаж
                    .list__li продвижение уникальных преимуществ вашей продукции  
                    .list__li информирование потенциальных покупателей об акции/распродаже/спецпредложении
                    .list__li привлечение новых покупателей
    .modal-wrapper-block(data-popup='classic')
        .modal-block
            img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/285503/content_union.png' alt='')
            .modal-content 
                .modal-heading.section_h3 Классическое объявление
                p.modal-subtitle Содержит всю информацию для успешных продаж: изображение, название, Уникальное торговое предложение, призыв к действию.
                img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/282442/content_image2_2.png", alt="")
                .list 	
                    p.fat Преимущества:
                    .list__li усиление продаж;
                    .list__li увеличение конверсии рекламных кампаний;
                    .list__li привлечение внимания к товару или линейке товаров;  
                    .list__li работает на побуждение покупателя оставить заказ именно у вас.
    .modal-wrapper-block(data-popup='video-banner')
        .modal-block
            img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/285503/content_union.png' alt='')
            .modal-content 
                .modal-heading.section_h3 Видео баннер
                p.modal-subtitle Такой формат редко кто использует из-за сложности в подготовке. У аудитории пока не сформировалась «слепота». Поэтому видео-баннер притягивает внимание с первых секунд.
                img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/282440/content_image3_1.png", alt="")
                .list 	
                    p.fat Преимущества:
                    .list__li работает как оффер или инструмент для формирования спроса;
                    .list__li показывает всю линейку товаров за счет нескольких кадров;
                    .list__li выделяет основные преимущества и выгоды; 
                    .list__li работает на повышение лояльности и доверия аудитории.
    .modal-wrapper-block(data-popup='static')
        .modal-block
            img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/285503/content_union.png' alt='')
            .modal-content 
                .modal-heading.section_h3 Статическое объявление
                p.modal-subtitle Это адаптивное объявление. Рекламная система сама подстраивает баннер под место. Это помогает увеличить количество площадок для размещения.
                img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/282444/content_image1_1.png", alt="")
                .list 	
                    p.fat Преимущества:
                    .list__li охватывает большее количество площадок;
                    .list__li побуждает покупателя совершить переход на сайт;
                    .list__li работает как оффер или инструмент для формирование спроса; 
                    .list__li повышает узнаваемость компании.
    .modal-wrapper-block(data-popup='google')
        .modal-block
            img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/219819/content_cancel.png' alt='')
            .modal-content 
                img.modal-img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/285504/content_galochka.png", alt="")
                .modal-heading2.section_h3 Продвижение #[br] на аудиторию Google*
                p.modal-subtitle Контекстное объявление, показывается на первой странице коммерческой выдачи Google.
                .list 	
                    p.fat Выгоды:
                    .list__li больше клиентов с поиска Google;
                    .list__li первая страница  поисковой выдачи;
                    .list__li увеличение продаж группы товаров;
                    .list__li перехват заявок, которые могут уйти к конкурентам.
                .modal-line
                p.section-accent.fat Условия показа:
                p.text ваше предложение увидят люди, которые ввели в строку поиска Google запрос на ваш товар.
                p.modal-note.section-accent * Только для клиентов, у которых уже есть услуга Турбопоиск в Яндексе.
    .modal-wrapper-block(data-popup='audit')
        .modal-block
            img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/219819/content_cancel.png' alt='')
            .modal-content 
                img.modal-img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/285504/content_galochka.png", alt="")
                .modal-heading2.section_h3 Продвижение #[br] на особую аудиторию
                p.modal-subtitle Медийное объявление, показывается в РСЯ покупателям с Пульса цен и аудитории look-alike.
                .list 	
                    p.fat Выгоды:
                    .list__li привлечение только заинтересованной аудитории;
                    .list__li увеличение трафика выбранной группы товаров;
                    .list__li быстрое и эффективное донесение предложений до покупателя.
                .modal-line
                p.section-accent.fat Условия показа:
                p.text объявление увидит заинтересованная аудитория, которая покупает такие же товары.
    .modal-wrapper-block(data-popup='yandex')
        .modal-block
            img.modal-close(src='https://www.pulscen.ru/system/ckeditor_assets/pictures/219819/content_cancel.png' alt='')
            .modal-content 
                img.modal-img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/285504/content_galochka.png", alt="")
                .modal-heading2.section_h3 Продвижение #[br] Смарт-Баннером в Яндексе
                p.modal-subtitle Динамическое объявление «текст с картинкой», показывается в РСЯ тем, кто уже смотрел ваши товары или искал похожие.
                .list 	
                    p.fat Выгоды:
                    .list__li привлечение новых клиентов из Яндекса;
                    .list__li возврат пользователей, которые ничего не заказали;
                    .list__li повышение конверсии, ведь баннер видят только заинтересованные покупатели.
                .modal-line
                p.section-accent.fat Условия показа:
                p.text баннер увидят пользователи, которые смотрели ваши товары или товары конкурентов.
