/** @format */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

.main_content {
  background: radial-gradient(99.84% 53.65% at -32.53% 33.56%, rgba(96, 130, 181, 0.1) 0%, rgba(96, 130, 181, 0.1) 3.23%, rgba(255, 255, 255, 0) 89.32%), linear-gradient(154.12deg, rgba(96, 130, 181, 0.24) 6.1%, rgba(255, 255, 255, 0) 25.46%), radial-gradient(59.14% 54.07% at 85.29% 55.81%, rgba(96, 130, 181, 0.15) 0%, rgba(255, 255, 255, 0) 100%), url("https://www.pulscen.ru/system/ckeditor_assets/pictures/245217/content_group_69.png") no-repeat 0% 0%/600px, #f0f4fa;
  max-width: 1920px;
  width: 100%;
  margin: auto;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #013a59;
}

.content {
  max-width: 1366px;
  width: 90%;
  margin: auto;
  padding: 0px 0 150px;
}

.section-btns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 60px;
  margin-top: 64px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.section-button {
  letter-spacing: 0.06em;
  letter-spacing: 0.06em;
  font-size: 16px;
  background: #6082b5;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 18px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #fff !important;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid #6082b5;
  text-align: center;
  border-radius: 20px;
}

.section-buttonWhite {
  letter-spacing: 0.06em;
  letter-spacing: 0.06em;
  font-size: 16px;
  background: #ffffff00;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 18px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #6082b5 !important;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid #6082b5;
  text-align: center;
  border-radius: 20px;
}

.section-button a {
  color: inherit;
  font-weight: 800;
}

.section-button:hover {
  cursor: pointer;
  background: #ffffff00;
  color: #6082b5 !important;
}

.section-buttonWhite:hover {
  cursor: pointer;
  background: #6082b5;
  color: #fff !important;
}

header {
  padding-top: 56px;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrapper img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

header .text {
  max-width: 628px;
}

header .heading {
  font-size: 48px;
  margin-top: 150px;
}

header .offer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 24px;
  margin: 54px 0 93px;
}

header .choice p {
  font-size: 24px;
}

.blurd .content {
  padding: 0 0 36px 0;
}

.blurd .heading {
  font-size: 26px;
  line-height: 36px;
  padding-bottom: 24px;
}

.blurd .heading span {
  display: block;
  font-size: 14px;
}

.blurd .subtitle {
  max-width: 1010px;
}

.blurd .task {
  margin: 40px 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(21.05%, rgba(123, 104, 160, 0.29)), color-stop(95.08%, rgba(221, 229, 241, 0)));
  background: linear-gradient(90deg, rgba(123, 104, 160, 0.29) 21.05%, rgba(221, 229, 241, 0) 95.08%);
}

.blurd .task .content {
  padding: 36px 0;
}

.blurd .task .heading {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 36px;
}

.blurd .task .task__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15px 1fr;
      grid-template-columns: 15px 1fr;
  grid-gap: 15px;
}

.blurd .task .task__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 24px;
}

.blurd .advantage .heading {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}

.blurd .advantage .advantage__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 36px;
  margin-top: 36px;
}

.blurd .advantage .advantage__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 1fr;
      grid-template-columns: 40px 1fr;
  grid-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blurd .accent {
  color: #6082b5;
  font-weight: 600;
  cursor: pointer;
}

.blurd .remarketing {
  margin-top: 32px;
}

.blurd .remarketing .offer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  grid-gap: 30px;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/245224/content_mask_g2roup.png) no-repeat center center/cover;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.blurd .remarketing img {
  position: relative;
  top: -6px;
  left: 6px;
}

.blurd .note {
  margin-top: 24px;
  margin-bottom: 64px;
}

.blurd2 {
  margin-top: 150px;
  margin-bottom: 80px;
}

.futer_main a {
  text-decoration: none;
  color: #013a59;
}

.futer_main {
  background: #cbc9de;
  color: #013a59;
}

.modal-content {
  max-width: 600px;
  border: none;
}

.accent:hover > .imgW {
  -webkit-animation: an 0.5s ease infinite;
          animation: an 0.5s ease infinite;
}

.fly {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: flex-end;
}

.fly .img_item {
  max-width: 100%;
  width: 80%;
}

@-webkit-keyframes an {
  0% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  50% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes an {
  0% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  50% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@media (max-width: 1600px) {
  .main_content {
    background: radial-gradient(99.84% 53.65% at -32.53% 33.56%, rgba(96, 130, 181, 0.1) 0%, rgba(96, 130, 181, 0.1) 3.23%, rgba(255, 255, 255, 0) 89.32%), linear-gradient(154.12deg, rgba(96, 130, 181, 0.24) 6.1%, rgba(255, 255, 255, 0) 25.46%), radial-gradient(59.14% 54.07% at 85.29% 55.81%, rgba(96, 130, 181, 0.15) 0%, rgba(255, 255, 255, 0) 100%), url(https://www.pulscen.ru/system/ckeditor_assets/pictures/245217/content_group_69.png) no-repeat -160px 0%/600px, #f0f4fa;
  }
}

@media (max-width: 1200px) {
  header .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  header .heading {
    margin-top: 20px;
  }
  header .img {
    display: -ms-grid;
    display: grid;
    -ms-grid-row-align: center;
        align-self: center;
  }
  header .offer {
    margin: 24px 0 36px;
  }
}

@media (max-width: 1010px) {
  .fly {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .fly .img_item {
    display: none;
  }
}

@media (max-width: 800px) {
  .section-btns {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 24px;
    margin-top: 36px;
  }
  .section-button {
    width: 100%;
    font-size: 14px;
  }
  .section-buttonWhite {
    width: 100%;
    font-size: 14px;
  }
}

@media (max-width: 660px) {
  .section-btns {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .blurd .advantage .advantage__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .blurd2 {
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .content {
    padding: 0px 0 60px;
  }
}
/*# sourceMappingURL=companyChelya.css.map */