/** @format */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

p {
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

.futer_main a {
  text-decoration: none;
  color: #303030;
}

.futer_main {
  background: none;
  color: #303030;
  margin-top: 0px;
}

.content {
  max-width: 1366px;
  width: 90%;
  margin: auto;
  padding: 0px 0 0px;
}

.section-btns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 40px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.section-btns img {
  -webkit-animation: ani 1s linear infinite;
          animation: ani 1s linear infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes ani {
  0% {
    position: relative;
    top: -30px;
  }
  100% {
    position: relative;
    top: 30px;
  }
}

@keyframes ani {
  0% {
    position: relative;
    top: -30px;
  }
  100% {
    position: relative;
    top: 30px;
  }
}

.section-button {
  letter-spacing: 0.06em;
  letter-spacing: 0.06em;
  font-size: 14px;
  background: linear-gradient(267.32deg, #3b7d2f 12.28%, #32a91c 96.03%);
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #fff !important;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid #3b7d2f;
  text-align: center;
  border-radius: 5px;
}

.section-buttonWhite {
  letter-spacing: 0.06em;
  letter-spacing: 0.06em;
  font-size: 14px;
  background: #ffffff00;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #3b7d2f !important;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid #3b7d2f;
  text-align: center;
  border-radius: 5px;
}

ul {
  margin-top: 24px;
  margin-bottom: 0;
}

li {
  list-style: none;
  list-style-image: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/256486/content_group_146.png) !important;
  list-style-position: inside;
  font-weight: 100;
}

b {
  font-weight: 600;
}

.section_h1 {
  font-size: 24px;
}

.section_h2 {
  font-size: 18px;
}

.section_h3 {
  font-size: 16px;
}

.section_h4 {
  font-size: 14px;
}

.section-button a {
  color: inherit;
  font-weight: 800;
}

.section-button:hover {
  cursor: pointer;
  background: #ffffff00;
  color: #3b7d2f !important;
}

.section-buttonWhite:hover {
  cursor: pointer;
  background: #3b7d2f;
  color: #fff !important;
}

header {
  background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/256485/content_group_154.png) no-repeat 0% 0%/40%, radial-gradient(75.84% 79.37% at 14.56% 17.03%, #2cc910 0%, #3b7d2f 100%);
  padding-top: 56px;
}

header .logo {
  width: 150px !important;
}

header .text {
  max-width: 750px;
  margin-left: auto;
  text-align: right;
  display: -ms-grid;
  display: grid;
  grid-gap: 48px;
  color: #fff;
}

header .heading {
  font-size: 48px;
  max-width: 750px;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}

header .offer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 24px;
  margin: 80px 0;
  padding: 40px;
  max-width: 600px;
  border: 2px solid #79ba8f;
  border-radius: 15px;
  font-size: 16px;
  position: relative;
  border-top: 0;
}

header .offer::after {
  content: "";
  display: block;
  position: absolute;
  top: 0%;
  left: 10px;
  width: 60%;
  height: 0px;
  border-top: 2px solid #79ba8f;
}

header .offer::before {
  content: "";
  display: block;
  position: absolute;
  top: 0%;
  right: 10px;
  width: 20%;
  height: 0px;
  border-top: 2px solid #79ba8f;
}

header .choice p {
  font-size: 24px;
}

header .toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .toolbar .toolbar__feedback {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description {
  letter-spacing: 0.04em;
  color: #fff;
  margin-left: auto;
  margin-top: 160px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 2px auto;
      grid-template-columns: auto 2px auto;
  grid-gap: 48px;
  padding-bottom: 160px;
}

.description .heading {
  font-size: 18px;
  font-weight: 600;
  text-transform: inherit;
}

.description .left {
  display: -ms-grid;
  display: grid;
  grid-gap: 48px;
}

.description .line {
  background: rgba(255, 255, 255, 0.5);
  width: 1px;
  height: 100%;
}

.description .integration {
  padding: 18px 20px 30px;
  background: #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.description .integration img {
  margin-right: 24px;
  margin-top: 12px;
}

a:link {
  color: inherit;
}

a:visited {
  color: inherit;
}

.claster {
  margin-top: 120px;
}

.claster .heading {
  font-weight: 600;
}

.claster .wrapper {
  margin-top: 64px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.claster .claster_item {
  padding: 16px;
  border-radius: 5px;
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-gap: 6px;
  border: 1px dashed #5e7491;
  text-align: center;
}

.claster .item-2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
}

.claster .claster_item:hover {
  border: 1px dashed #0b8311;
  color: #0b8311;
}

.claster .claster_item:hover > .button {
  color: #0b8311;
}

.claster .button {
  text-align: center;
}

.claster .button:hover {
  cursor: pointer;
}

.claster .new {
  position: absolute;
  left: -22px;
  top: -6px;
}

.claster .new img {
  width: 50px;
}

.feedback {
  margin-top: 48px;
  display: -ms-grid;
  display: grid;
  grid-gap: 24px;
}

.modal-block {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 40px;
  position: absolute;
  border-radius: 5px;
  background: #ffffff;
  border-radius: 10px;
  z-index: 1;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 10%);
          transform: translate(-50%, 10%);
  border: none;
}

.claster__city {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 35px;
  grid-row-gap: 15px;
}

.two {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.for {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
}

.modal-close:hover {
  -webkit-filter: contrast(0.1);
          filter: contrast(0.1);
}

.modal-close:hover {
  cursor: pointer;
}

.modal-wrapper-block {
  background: rgba(87, 187, 84, 0.281);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  display: none;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  z-index: 4;
  overflow: auto;
}

@media (max-width: 1440px) {
  header .heading {
    font-size: 34px;
  }
  header .text {
    grid-gap: 24px;
  }
  .description {
    margin-top: 100px;
  }
  .description .left {
    grid-gap: 32px;
  }
  ul {
    margin-top: 16px;
  }
}

@media (max-width: 1280px) {
  .description {
    margin-top: 64px;
  }
  .description .left {
    grid-gap: 22px;
  }
}

@media (max-width: 1200px) {
  header .heading {
    font-size: 36px;
  }
  header .toolbar .toolbar__feedback {
    display: none;
  }
  header .img {
    width: 150px;
  }
}

@media (max-width: 900px) {
  header .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-top: 40px;
  }
  header .heading {
    margin-top: 20px;
  }
  header .img {
    display: -ms-grid;
    display: grid;
    -ms-grid-row-align: center;
        align-self: center;
    width: 200px;
  }
  header .offer {
    padding: 20px;
    margin: 24px 0 36px;
  }
}

@media (max-width: 800px) {
  .description {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 24px;
    padding-bottom: 64px;
  }
  .description .line {
    display: none;
  }
  .claster {
    margin-top: 64px;
  }
  .claster .wrapper {
    margin-top: 48px;
  }
  .section-btns {
    display: none;
  }
  header .heading {
    font-size: 24px;
  }
  .futer_main {
    margin-top: 60px;
  }
}

@media (max-width: 660px) {
  .section-btns {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  header .text {
    text-align: left;
  }
}
/*# sourceMappingURL=clasters.css.map */