/** @format */

$corporate_color: #028dd8;
$main_text_color: #013a59;

@mixin mainContent($size, $color) {
	max-width: 1920px;
	width: 100%;
	margin: auto;
	font-size: $size;
	// font-family: "Open Sans", sans-serif;
	color: $color;
	font-family: "Montserrat", sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
}

p {
	padding: 0;
	margin: 0;
}

a:hover {
	text-decoration: none;
}

@mixin content($padd...) {
	max-width: 1366px;
	width: 90%;
	margin: auto;
	padding: $padd;
}

@mixin grid($gap, $fr...) {
	display: grid;
	grid-template-columns: $fr;
	grid-gap: $gap;
}

@mixin btn($size, $bg, $border, $color, $pad...) {
	letter-spacing: 0.06em;
	letter-spacing: 0.06em;
	font-size: $size;
	background: $bg;
	border-radius: 5px;
	width: fit-content;
	padding: $pad;
	display: flex;
	justify-content: center;
	align-content: center;
	color: $color !important;
	transition-duration: 0.5s;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	border: 1px solid $border;
	text-align: center;
}

.futer_main a {
	text-decoration: none;
	color: #fff;
}

.futer_main {
	background: radial-gradient(317.4% 1805.73% at 112.11% 75%, #041c80 0%, #dde5ff 100%), #002fcc;
	color: #fff;
	margin-top: 120px;
}

.content {
	@include content(0px 0 0px);
}

.section-btns {
	@include grid(60px, auto auto);
	justify-content: left;
}

.section-button {
	@include btn(14px, (radial-gradient(317.4% 1805.73% at 150.11% 50%, #263c96 15%, #0011ff 100%), #222f5a), #0011ff, #fff, 15px 67px);
	border-radius: 5px;
}

.section-buttonWhite {
	@include btn(14px, #ffffff00, #0011ff, #0011ff, 8px 30px);
	border-radius: 5px;
}

.section_h1 {
	font-size: 32px;
}
.section_h2 {
	font-size: 18px;
}
.section_h3 {
	font-size: 16px;
}

.section-button a {
	color: inherit;
	font-weight: 800;
}
.section-button:hover {
	cursor: pointer;
	background: #ffffff00;
	color: #0011ff !important;
}
.section-buttonWhite:hover {
	cursor: pointer;
	background: #0011ff;
	color: #fff !important;
}

//как использовать - main_content{@include mainContent}
.main_content {
	background: linear-gradient(to right, #ffffff, #0d3a884a);
	height: 100vh;
	display: grid;
	align-content: center;
	font-family: "Roboto", sans-serif;
}

header {
	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		img {
			max-width: 100%;
			width: 83%;
			height: auto;
			min-width: 200px;
		}
		.logo {
			max-width: 160px;
			margin-bottom: 24px;
			min-width: 100px;
		}
		.soclink {
			@include grid(12px, auto auto auto auto);
			justify-content: flex-start;
			margin: 24px 0;
		}
		.soclink__img {
			width: 40px;
			min-width: 40px;
		}
	}
	.data {
		@include grid(30px, auto 1fr);
		color: #153d87;
		font-weight: 500;
		font-size: 24px;
		.number_left {
			border-right: 2px solid #153d87;
			padding-right: 30px;
		}
	}

	.text {
		margin-right: 30px;
		min-width: 545px;
		color: #3d3d3d;
	}
	.heading {
		font-size: 36px;
		max-width: 750px;
		margin-top: 24px;
		color: #e70001;
		font-weight: #5e7491;
		font-weight: 500;
	}
	.subtitle {
		color: #153d87;
		font-size: 24px;
		margin-top: 12px;
	}
	.line {
		background: #000;
		width: 100px;
		height: 1px;
		margin: 48px 0;
	}
	.text {
		font-size: 16px;
	}
	a {
		color: #153d87;
	}
}

@media (max-width: 1200px) {
	header {
		.heading {
			font-size: 36px;
		}
		.img {
			width: 60%;
		}
	}
}

@media (max-width: 900px) {
	.main_content {
		align-content: baseline;
		height: 100%;
		padding-bottom: 30px;
	}
	header {
		.wrapper {
			flex-direction: column-reverse;
			align-items: baseline;
		}
		.heading {
			margin-top: 20px;
		}
		.img {
			display: grid;
			align-self: center;
		}
	}
}

@media (max-width: 800px) {
	header {
		.heading {
			// font-size: 24px;
		}
	}
	.futer_main {
		margin-top: 60px;
	}
}

@media (max-width: 660px) {
	.section-btns {
		grid-template-columns: 1fr;
	}
	header {
		.text {
			min-width: auto;
		}
		.img {
			display: grid;
			align-self: center;
			width: 200px;
		}
	}
}
