/** @format */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.button:hover {
	cursor: pointer;
}

.modal-block {
	width: fit-content;
	padding: 30px 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgb(255, 255, 255);
	border-radius: 5px;
	max-width: 450px;
	color:#181a1d;
}
.modal-content img{
	width: 100%;
}

.modal-block .list__li{
		color: #181a1d;
}
.modal-heading{
	background: linear-gradient(36deg, #ce472a -18.8%, #e67900 100%);
	margin: -30px -20px 0;
    padding: 30px 20px;
	color: white;
}
.modal-heading2{
	text-align: center;
}
.modal-line{
	height: 2px;
	width: 100%;
	background: #E7EEF4;
	margin: 30px 0 20px;
}
.modal-note{
	font-size: 14px;
}
.text{
	margin: 10px 0 20px;
}

.modal-subtitle{
	color: #181a1d;
	margin: 30px 0 40px;
}
.p__list{
	color: #181a1d;

}

.modal-block-height {
	top: 5%;
	transform: translate(-50%, 0%);
	height: auto;
	overflow: inherit;
}


.modal-close {
	position: absolute;
	right: 15px;
	top: 30px;
	width: 15px;
	height: 15px;
}
.modal-close:hover {
	filter: contrast(0.1);
}

.modal-close:hover {
	cursor: pointer;
}

.modal-wrapper-block {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #bfe6ff24;
	display: none;
	backdrop-filter: blur(1px);
	z-index: 4;
	transition-duration: 0.5s;
	transition-delay: 0.5s;
}

.modal-block-show {
	display: block;
	animation: anim 0.5s ease;
}

.modal-content .modal-img{
	width: fit-content;
	    margin-top: -66px;
    margin-bottom: 30px;
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%, 0px);
}

@keyframes anim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}
