/** @format */

//как использовать - main_content{@include mainContent}
.main_content {
	@include mainContent(18px, #fff);
	font-weight: 500;
	background: url('https://www.pulscen.ru/system/ckeditor_assets/pictures/285625/content_skidka.png') no-repeat 100% 0% / 47%, url('https://www.pulscen.ru/system/ckeditor_assets/pictures/285629/content_lenta.png') no-repeat -5% 2% / 8%, $forButton;
}
img {
	max-width: 100%;
}

header {
	margin-top: 60px;
	.offer {
		max-width: 720px;
		@include grid(30px, 1fr);
		.btns {
			@include grid(20px, auto 1fr);
			margin-top: 20px;
		}
		.btn p {
			margin-top: 16px;
			opacity: 0.6;
		}
	}
}

.item__modal-button {
	color: $accent;
	font-weight: 700;
	@include grid(20px, auto 1fr);
	align-items: center;
}
.bonus {
	margin-top: var(--section);
	margin-bottom: var(--section);
	.subtitle {
		margin-top: 20px;
		grid-gap: 20px;
		display: grid;
	}
	.sale {
		color: rgba(196, 196, 196, 0.8);
		text-align: left;
		margin-top: -25px;
	}

	.block {
		margin-top: 83px;
		@include grid(40px, 1fr 1fr 1fr);

		border-radius: 8px;

		.item {
			text-align: center;
			background: linear-gradient(#383b40 -43.72%, #121315 110.7%);
			padding: 35px;
			display: grid;
			max-width: 500px;
			border-radius: 8px;
			align-content: space-between;
			// grid-template-rows: 1fr 1fr 1fr 1fr;
			.item__subtitle {
				text-align: left;
			}
		}
		.item-ua {
			display: none;
		}

		.item1 {
			justify-self: right;
		}
		.heading {
			margin-top: 20px;
			span {
				color: $accent;
			}
		}
		.subtitle {
			margin-bottom: 40px;
		}
		.item__block {
			max-width: 490px;
			display: grid;
			grid-template-rows: 1fr 1fr;
			width: 100%;
			border-bottom: 1px solid rgb(255, 255, 255, 0.1);
			padding-bottom: 20px;
			margin: auto;
			.heading {
				@include grid(20px, auto 1fr);
				align-items: baseline;
				justify-items: end;
				margin-bottom: 20px;
			}
			img {
				max-width: fit-content;
			}
			p {
				text-align: left;
			}
		}
		.end {
			font-size: 14px;
		}
		.item__img {
			position: relative;
			margin-top: -100px;
			justify-self: center;
		}
		.btn_bonus {
			margin: auto;
			margin-top: 40px;
			margin-bottom: 30px;
		}
	}
	.block2 {
		grid-template-columns: 1fr;
		margin-top: 100px;
	}
	.wrapper {
		@include grid(40px, 1fr 1fr);
	}
}
.end {
	margin-bottom: var(--section);
	p {
		max-width: 1040px;
	}
	.end__line {
		background: rgba(255, 255, 255, 0.8);
		width: 100%;
		max-width: 1040px;
		height: 1px;
		margin: 20px 0;
	}
	.end__note {
		color: rgba(255, 255, 255, 0.8);
		font-size: 14px;
	}
}
.ChP_PP {
	background: url('https://www.pulscen.ru/system/ckeditor_assets/pictures/285885/content_skidka.png') no-repeat 100% 0% / 47%, url('https://www.pulscen.ru/system/ckeditor_assets/pictures/285886/content_mazok.png') no-repeat 0% 0% / 18%, $forButton;
	.item__header {
		display: grid;
		grid-template-rows: auto 1fr 2.5fr 0.5fr;
	}
	.bonus {
		.block {
			.item {
				padding: 25px;
				.item__subtitle_width {
					max-width: 336px;
				}
			}
		}
	}
}
.ChP_PP_shortened {
	background: url('https://www.pulscen.ru/system/ckeditor_assets/pictures/285885/content_skidka.png') no-repeat 100% 0% / 38%, url('https://www.pulscen.ru/system/ckeditor_assets/pictures/285886/content_mazok.png') no-repeat 0% 0% / 9%, $forButton;
	height: 100%;
}
@media (max-width: 1680px) {
}

@media (max-width: 1460px) {
	.sale {
		.block-number {
			grid-gap: 60px;
			.item {
				.item__number {
					font-size: 11vw;
				}
			}
		}
	}
	.ChP_PP {
		background: url('https://www.pulscen.ru/system/ckeditor_assets/pictures/285885/content_skidka.png') no-repeat 100% 0% / 50%, url('https://www.pulscen.ru/system/ckeditor_assets/pictures/285886/content_mazok.png') no-repeat 0% 0% / 10%, $forButton;
	}
	.ChP_PP_shortened {
		background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/285885/content_skidka.png) no-repeat 100% 0%/42%, url(https://www.pulscen.ru/system/ckeditor_assets/pictures/285886/content_mazok.png) no-repeat 0% 0%/9%, #111317;
	}
}

@media (max-width: 1366px) {
	.ChP_PP {
		.bonus {
			.block {
				.heading {
					font-size: 22px;
				}
				.item {
					.item__subtitle {
						font-size: 16px;
					}
				}
			}
		}
	}
}

@media (max-width: 1240px) {
	.bonus .block {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 1024px) {
	.main_content {
		font-size: 14px;
	}
	header {
		margin-top: 80px;
	}
	.sale {
		margin-top: 60px;
	}
	.section_h0 {
		font-size: 48px;
	}
	.section_h1 {
		font-size: 40px;
		font-weight: 800;
	}
	.section_h2 {
		font-size: 24px;
	}
	.section_h3 {
		font-size: 20px;
	}
	.bonus {
		.block {
			grid-template-columns: 1fr !important;
			grid-gap: 100px;
			.item {
				grid-template-columns: 1fr;
				max-width: 100%;
			}
			.item__block {
				grid-template-rows: 1fr;
			}
		}
		.wrapper {
			grid-template-columns: 1fr;
		}
	}
	:root {
		--section: 60px;
		--block40: 20px;
		--block30: 16px;
	}
}

@media (max-width: 800px) {
	.sale {
		.block-info {
			grid-template-columns: 1fr;
			.item {
				.textaria {
					grid-template-rows: 1fr;
				}
			}
		}
	}
	header {
		.offer {
			.btns {
				grid-template-columns: 1fr;
			}
		}
	}
}

@media (max-width: 660px) {
	.sale {
		.block-number {
			grid-template-columns: 1fr;
			grid-gap: 20px;
			justify-items: center;
			.item {
				.item__number {
					font-size: 64px;
				}
			}
		}
	}
}
@media (max-width: 480px) {
	.bonus {
		.block {
			margin-top: 110px;
			.item {
				padding: 16px;
			}
			.item__block {
				.heading {
					align-items: baseline;
				}
			}
		}
	}
	.section_h0 {
		font-size: 32px;
	}
	:root {
		--section: 40px;
	}
}
