/** @format */
$corporate_color: #028dd8;
$main_text_color: #1d4262;
$forButton: #181a1d;
$color_white: #fff;
$accentF: #8a85db;
$accent: #dc6611;
$accentBg: linear-gradient(36deg, #ce472a -18.8%, #e67900 100%);
$accentColor: #58acf4;

:root {
	--section: 80px;
	--block: 60px;
	--block40: 40px;
	--block30: 30px;
}
