/** @format */

$corporate_color: #53baef;
$main_text_color: #0d5490;

@mixin mainContent($size, $color) {
	max-width: 1920px;
	width: 100%;
	margin: auto;
	font-size: $size;
	// font-family: "Open Sans", sans-serif;
	color: $color;
	font-family: "Montserrat", sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	padding: 0;
	margin: 0;
}

a:hover {
	text-decoration: none;
}

@mixin content($padd...) {
	max-width: 1400px;
	width: 90%;
	margin: auto;
	padding: $padd;
}

@mixin grid($gap, $fr...) {
	display: grid;
	grid-template-columns: $fr;
	grid-gap: $gap;
}

@mixin btn($size, $bg, $border, $color, $pad...) {
	letter-spacing: 0.06em;
	font-size: $size;
	background: $bg;
	border-radius: 5px;
	width: fit-content;
	padding: $pad;
	display: flex;
	justify-content: center;
	align-content: center;
	color: $color !important;
	transition-duration: 0.5s;
	border: 1px solid $border;
	text-align: center;
	font-weight: 600;
}

.futer_main a {
	text-decoration: none;
	color: $main_text_color;
}

.massenger_futer {
	align-items: inherit;
}

.futer_main {
	background: none;
	color: $main_text_color;
	margin-top: 120px;
}
.heading_futer {
	margin-bottom: -20px;
}

.content {
	@include content(0px 0 0px);
}

.section-btns {
	@include grid(60px, auto auto);
	justify-content: left;
}

.section-button {
	@include btn(14px, $corporate_color, $corporate_color, #fff, 15px 67px);
	border-radius: 5px;
	z-index: 1;
}

.section-buttonWhite {
	@include btn(14px, #ffffff00, $corporate_color, $corporate_color, 15px 30px);
	border-radius: 5px;
}

.section-buttonToolbar {
	@include btn(14px, #ffffff00, $main_text_color, $main_text_color, 8px 30px);
	border-radius: 5px;
}

.section-buttonFooter {
	@include btn(14px, #ffffff00, $main_text_color, $main_text_color, 15px 30px);
	border-radius: 5px;
}
.section_h1 {
	font-size: 64px;
	font-weight: 800;
}
.section_h2 {
	font-size: 24px;
	font-weight: bold;
}
.section_h3 {
	font-size: 16px;
}

.section-button a {
	color: inherit;
	font-weight: 800;
}
.section-button:hover {
	cursor: pointer;
	background: #ffffff00;
	color: $corporate_color !important;
}
.section-buttonWhite:hover {
	cursor: pointer;
	background: $corporate_color;
	color: #fff !important;
}
.section-buttonToolbar:hover {
	cursor: pointer;
	background: $main_text_color;
	color: #fff !important;
}

//как использовать - main_content{@include mainContent}

.col_cintact_futer {
	align-items: center;
}
.massenger_futer-otstup {
	margin: 0 10px 0 10px;
}

.main_content {
	@include mainContent(18px, $main_text_color);
	background: url("https://www.pulscen.ru/system/ckeditor_assets/pictures/266370/content_vector_193.png") no-repeat 100% 0% / 100%, url("https://www.pulscen.ru/system/ckeditor_assets/pictures/266371/content_vector_194.png") no-repeat 100% 100%;
	font-weight: 500;
}

header {
	position: relative;
	padding-top: 60px;
	min-height: 900px;
	.img-header-mobile {
		display: none;
	}
	.img-header {
		width: 100%;
		img {
			max-width: 1012px;
			width: 100%;
			height: auto;
			min-width: 200px;
			position: absolute;
			top: 120px;
			right: 3%;
		}
	}
	.wrapper {
		width: 100%;
		position: relative;
	}
	.text {
		margin-right: 30px;
	}
	.heading {
		margin-top: 196px;
		margin-right: 385px;
	}

	.choice {
		p {
			font-size: 24px;
		}
	}
	.toolbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 1;
		position: relative;
		.toolbar__feedback {
			@include grid(16px, auto 1fr 1fr);
			align-items: center;
		}
		.massenger_futer-icon {
			grid-gap: 16px;
		}
		.massenger_futer-number {
			margin-left: 16px;
		}
	}
}
.note {
	font-size: 14px;
	color: #9db5c4;
	margin-top: 16px;
}
.offer {
	@include grid(24px, 1fr);
	margin: 24px 0 40px;
	max-width: 1000px;
}
.accordion {
	cursor: pointer;
}
.accordion__img {
	transition-duration: 0.5s;
	transform: rotate(0deg);
}
.accordion__block {
	font-size: 14px;
	grid-gap: 8px;
}

.accordion:hover > .accordion__img {
	position: relative;
	top: 20px;
	animation: accordion__img 1s ease infinite;
}
.accordion__img-rotate {
	transform: rotate(180deg);
}

@keyframes accordion__img {
	0% {
		top: 5px;
	}
	50% {
		top: 0px;
	}
	100% {
		top: 5px;
	}
}

.acti {
	display: none;
}
.block {
	@include grid(8px, 1fr);
	animation: showBlock ease 0.5s;
	color: $main_text_color;
	margin-top: 16px;
	font-size: 14px;
}

@keyframes showBlock {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.section-button {
	width: 100%;
	padding: 15px 20px;
}
.contact__by {
	grid-gap: 16px;
}
.futer_wrapper {
	padding: 120px 0 0px;
}
.packege {
	.packege__heading {
		max-width: 670px;
	}
	.wrapper {
		margin-top: 64px;
		@include grid(32px, repeat(auto-fit, minmax(250px, 1fr)));
		align-items: baseline;
		margin-bottom: 60px;

		.item {
			padding: 40px 27px;
			background: #fbfbfb;
			box-shadow: 0px 4px 30px rgba(11, 74, 112, 0.15);
			border-radius: 8px;
			display: grid;
			grid-template-rows: 1fr 0.5fr auto auto 1fr auto;
			.section-button {
				margin-top: 36px;
			}
			.item__noteSubtitle {
				color: $corporate_color;
				font-size: 18px;
			}
			.item__toolbar {
				display: grid;
				grid-gap: 8px;
				justify-items: center;
				margin-bottom: 24px;
			}
			.item__heading {
				font-size: 24px;
				font-weight: bold;
				display: grid;
				grid-auto-flow: column;
				align-items: baseline;
				grid-gap: 8px;
			}
			.item__note {
				color: #9db5c4;
			}
			.item__btn {
				color: $corporate_color;
				margin-top: 20px;
				display: grid;
				grid-template-columns: auto 1fr;
				align-items: center;
				grid-gap: 16px;
			}
			.item__btn-i {
				color: $corporate_color;
				margin-top: 20px;
				font-style: italic;
				text-decoration: underline;
				margin-bottom: 30px;
			}
		}
		.line {
			width: 100%;
			height: 2px;
			background: $corporate_color;
			margin: 39px 0 16px;
		}
	}
}

.packege-by {
	.wrapper {
		.item {
			grid-template-rows: 1fr 0.5fr auto auto;
		}
	}
}

.packege-kz {
	.wrapper {
		.item {
			grid-template-rows: 1fr 1fr auto auto 1fr auto;
		}
	}
}
.packege-ua {
	.wrapper {
		.item {
			grid-template-rows: 1fr 1fr auto auto 1fr auto;
		}
	}
}

//moda;

.claster {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	max-width: 1366px;
	width: 90%;
	margin: auto;
	margin-top: 60px;
	grid-gap: 40px;
}

.button {
	text-align: center;
}
.button:hover {
	cursor: pointer;
}

.modal-block {
	width: fit-content;
	padding: 40px;
	position: absolute;
	border-radius: 5px;
	background: #ffffff;
	box-shadow: 0px 4px 30px #c5ebff;
	border-radius: 10px;
	z-index: 1;
	top: 5%;
	left: 50%;
	transform: translate(-50%, 0%);
	border: none;
	margin: 0 auto;
	max-width: 90%;
}

.claster__city {
	display: grid;
	grid-column-gap: 35px;
	grid-row-gap: 15px;
}

.two {
	grid-template-columns: 1fr 1fr;
}

.for {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.button {
	text-align: left;
}

.modal-close {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 20px;
	height: 20px;
}
.modal-close:hover {
	filter: contrast(0.1);
}

.modal-close:hover {
	cursor: pointer;
}

.modal-wrapper-block {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #edf7ffc2;
	display: none;
	backdrop-filter: blur(1px);
	z-index: 4;
	overflow: auto;
}

.claster {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
	max-width: 1366px;
	width: 90%;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	grid-gap: 40px;
	.heading {
		font-weight: 600;
	}
	.button {
		text-align: center;
	}
}
.claster_item {
	border: 1px dashed $main_text_color;
	border-radius: 10px;
	padding: 15px 10px;
	cursor: pointer;
	display: grid;
	align-items: center;
	position: relative;
	color: $main_text_color;
}
.claster_item:hover {
	border: 1px dashed $corporate_color;
}

.claster_item:hover > .button {
	color: $corporate_color;
}

@media (max-width: 1450px) {
	.section_h1 {
		font-size: 48px;
	}
	.main_content {
		background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/266370/content_vector_193.png) no-repeat 100% -5%/100%, url(https://www.pulscen.ru/system/ckeditor_assets/pictures/266371/content_vector_194.png) no-repeat 100% 100%;
	}
	header {
		min-height: 610px;
		.heading {
			margin-top: 80px;
		}
		.img-header {
			img {
				max-width: 48vw;
			}
		}
	}
	.packege {
		.wrapper {
			.item {
				grid-template-rows: 5rem 1fr auto auto 1fr auto;
			}
		}
	}
	.packege-by {
		.wrapper {
			.item {
				grid-template-rows: 1fr 0.5fr auto auto;
				.item__heading {
					font-size: 20px;
					white-space: nowrap;
				}
				.item__noteSubtitle {
					font-size: 16px;
				}
			}
		}
	}
}

@media (max-width: 1366px) {
	.packege {
		.wrapper {
			.item {
				grid-template-rows: 5rem 1fr auto auto 1.4fr auto;
			}
		}
	}
	.packege-by {
		.wrapper {
			grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
			.item {
				grid-template-rows: 5rem 1fr auto auto;
			}
		}
	}
}

@media (max-width: 1280px) {
	header {
		.heading {
			font-size: 36px;
		}
	}
	.packege {
		.wrapper {
			.item {
				grid-template-rows: 5rem 1fr auto auto 1fr auto;
			}
		}
	}
	.packege-by {
		.wrapper {
			.item {
				grid-template-rows: 5rem 1fr auto auto;
			}
		}
	}
}

a:link {
	color: inherit;
}
a:visited {
	color: inherit;
}

@media (max-width: 1024px) {
	.main_content {
		background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/266370/content_vector_193.png) no-repeat 100% -5%/133%, url(https://www.pulscen.ru/system/ckeditor_assets/pictures/266371/content_vector_194.png) no-repeat 100% 100%;
	}
	header {
		.heading {
			margin-right: 300px;
		}
		.img-header img {
			top: 146px;
		}
	}

	.packege {
		.wrapper {
			grid-template-columns: 1fr 1fr;
			.item {
				grid-template-rows: 5rem 1fr auto auto 1fr auto;
			}
		}
	}
	.packege-by {
		.wrapper {
			.item {
				grid-template-rows: 5rem 1fr auto auto;
			}
		}
	}
}

@media (max-width: 900px) {
	.main_content {
		background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/266370/content_vector_193.png) no-repeat 100% -21%, url(https://www.pulscen.ru/system/ckeditor_assets/pictures/266371/content_vector_194.png) no-repeat 100% 100%;
	}
	.packege {
		.wrapper {
			margin-top: 48px;
			grid-template-columns: 1fr;
			.item {
				grid-template-rows: 1fr;
				padding: 40px 16px;
			}
		}
	}
	header {
		padding-top: 40px;
		.img-header {
			img {
				max-width: 408px;
				margin-top: 100px;
			}
		}
		.toolbar {
			.toolbar__feedback {
				grid-template-columns: 1fr;
			}
			.massenger_futer {
				display: none;
			}
		}

		.wrapper {
			flex-direction: column-reverse;
			align-items: baseline;
			margin-top: 40px;
		}
		.heading {
			margin-top: 20px;
			margin-right: 0px;
		}
		.img {
			display: grid;
			align-self: center;
			width: 200px;
		}
	}
	.offer {
		margin: 24px 0 36px;
	}
	.topM {
		margin-top: 30px;
	}
}

@media (max-width: 800px) {
	header {
		.heading {
			font-size: 24px;
		}
	}
	.futer_main {
		margin-top: 60px;
	}
	.for {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 660px) {
	.main_content {
		font-size: 14px;
	}
	.section-btns {
		grid-template-columns: 1fr;
	}
	.logo {
		width: 100px;
	}
	.section-buttonToolbar {
		padding: 8px 20px;
		font-size: 12px;
	}
	header {
		.img-header img {
			max-width: 408px;
			margin-top: 0px;
			top: auto;
			bottom: 20px;
		}
		.img-header-mobile {
			display: block;
			max-width: 360px;
			margin: auto;
			img {
				max-width: 360px;
				width: 100%;
			}
		}
	}
	.for {
		grid-template-columns: 1fr;
	}
	.two {
		grid-template-columns: 1fr;
	}
	.main_content {
		background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/266370/content_vector_193.png) no-repeat 100% 0% / 83em, url(https://www.pulscen.ru/system/ckeditor_assets/pictures/266371/content_vector_194.png) no-repeat 100% 100%;
	}

	.packege {
		margin-top: 40px;
		.wrapper {
			.line {
				margin: 24px 0 16px;
			}
			.item {
				.section-button {
					margin-top: 24px;
				}
			}
		}
	}
	.section_h2 {
		font-size: 16px;
	}
	.img-header {
		display: none;
	}

	.packege-by {
		.wrapper {
			.item {
				.item__heading {
					font-size: 15px;
					white-space: nowrap;
					align-items: center;
					img {
						width: 50%;
					}
				}
				.item__noteSubtitle {
					font-size: 14px;
				}
			}
		}
	}

	.main_content-by {
		background: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/266370/content_vector_193.png) no-repeat 100% 0%/83em, url(https://www.pulscen.ru/system/ckeditor_assets/pictures/266371/content_vector_194.png) no-repeat 100% 100%/2800px;
	}
}
