.modal-wrapper-block(data-popup="popup2")
	.modal-block
		img.modal-close(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/195450/content_union_3.png")
		.case
			p.section_h2 Компания Санфрут, г.Челябинск 
			p.section-subtitle Оптовая продажа сухофруктов. Прямые вагонные поставки сухофруктов из стран Экспортеров. 
			section.block  
				.block__text
					p.section_h2 Поставленные задачи 
					p.section-subtitle Клиент зарегистрировался на Пульсе цен в 2019 году, чтобы решить следующие бизнес-задачи:
					.block__list
						+listRandom("https://www.pulscen.ru/system/ckeditor_assets/pictures/281056/content_1.png", "Создать сайт для продажи сухофруктов и загрузить каталог")
						+listRandom("https://www.pulscen.ru/system/ckeditor_assets/pictures/281057/content_2.png", "Обеспечить целевой трафик и динамику роста")
						+listRandom("https://www.pulscen.ru/system/ckeditor_assets/pictures/281058/content_3.png", "Обеспечить узнаваемость компании")
						+listRandom("https://www.pulscen.ru/system/ckeditor_assets/pictures/281086/content_4.png", "Обеспечить регулярный поток заявок из городов Урала и Поволжья")
				.block__img
					img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/281059/content_rezultat.png")
			section.block
				.block__text
					p.section_h2 Что было сделано
					p.section-subtitle Для реализации целей и задач заказчику была предложена следующая комбинация услуг: приоритетный пакет «Старт.Серебро» в родном регионе + размещение товаров в кластерах «УрФО» и «Поволжье». Ниже перечислены работы, выполненные на основе принятого решения. 
					.block__zone
						p.heading Работа по сайту
						.list
							.list__li Создан сайт на домене второго уровня, который легко запоминается. 
							.list__li Создан сайт на домене второго уровня, который легко запоминается. 
							.list__li Подключен протокол безопасности соединения клиента с сайтом (SSL-сертификат).  
							.list__li Сайт привязан к сервисам Вебмастер Яндекс и Google для старта поисковой оптимизации.
							.list__li Проработали каталог:
								.list__li_circle сделана удобная навигация по группам товаров;
								.list__li_circle  созданы правильная структура групп и распределение по ним товаров.
							.list__li Заполнены информационные разделы сайта: страницы «о компании», «контакты» и «доставка и оплата».
							.list__li Создана матрица элементов для активных действий покупателя: кнопки «заказать», «в корзину», «заказать звонок».
							.list__li Подключены счетчики Яндекс Метрики для отслеживания активности посетителей, настройка целей для получения более глубоких данных.
							.list__li Регулярно собирается аналитика по сайту, и предлагаются меры для улучшения пользовательских характеристик.
					.block__zone
						p.heading Работа с товарами
						.list
							.list__li Загружена товарная масса: 210 товарных позиций.
							.list__li Товары привязаны к рубрикам Пульса цен, чтобы покупатели могли быстро их находить. Охвачено 44 рубрики. 
							.list__li Выявлены приоритетные товары и проработали их оформление. 
							.list__li Регулярно выполняется обновление товарного каталога, изображений, описаний и т.д. 
							.list__li По мере необходимости добавляются новые товары в каталог. 
					.block__zone
						p.heading Другое
						.list
							.list__li Заказчик подключен к базе готовых заявок «Закупки» — уникальная разработка Пульса цен. Клиенты, у которых нет времени искать большой перечень товаров поштучно, загружают весь список и алгоритм автоматически подбирает поставщиков. Уведомления о заказе приходит на почту к тем компаниям, кто может закрыть сделку. 
							.list__li Приоритетные товары размещены Витрине на Пульсе цен на уральские города в рубриках «Продукты питания, напитки». 
							.list__li Подключен выделенный телефонный номер для оценки звонков и возможности допродажи не дозвонившимся клиентам.
				.block__img
					img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/281060/content_sdelano.png")
			section.block  
				.block__text
					p.section_h2 Результаты 
					p.section-subtitle Клиент доволен, стоимость тарифа окупается каждый год. С началом осени спрос на сухофрукты стабильно растет каждый год. В 2019 году на 74% выросло количество посетителей на сайт в сезон закупа сухофруктов. В 2020 году этот показатель составил +135%. На данный момент также наблюдается тренд роста просмотров и посетителей, который по прогзнозам продлиться до марта-апреля 2022 года.

					p.section_h3 Статистика сайта в сентябре по сравнению с августом:
					.section-offer
						p <span>+32,4%</span> просмотров товаров
						p <span>+26,3%</span> посетителей
					p Всего с января 2021 года с Пульса цен поступило 680 заказов на общую сумму больше 5 000 000 рублей.  Еще 535 клиентов отложили товары в корзину и посмотрели контакты компании.
					.line
					p С начала сотрудничества компании с Пульсом цен показатели сайта выросли:
					.section-offer.section-offer2
						p.heading  Просмотры
						p c <span>0</span> до <span>12 654</span> в месяц (среднее значение в период с октября по март);
						p c <span>0</span> до <span>4 985</span> в месяц (среднее значение в период с апреля по сентябрь).
					.section-offer.section-offer2
						p.heading  Посетители
						p c <span>0</span> до <span>2 041</span> в месяц (среднее значение в период с октября по март);
						p c <span>0</span> до <span>1 100</span> в месяц (среднее значение в период с апреля по сентябрь).
				.block__img
					p.section_h3 Сайт компании РТС на Пульсе цен
					img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/281064/content_image21.png")
			section.section-btns
				+button("Хочу такие же результаты", "section-button btn")
				+buttonLink("Хочу посмотреть другие кейсы", "section-buttonWhite btn modal-close")



