.modal-wrapper-block(data-popup="popup1")
	.modal-block
		img.modal-close(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/195450/content_union_3.png")
		.case
			p.section_h2 Компания РТС, г. Красноярск 
			p.section-subtitle Продажа овощей от региональных сельхозпроизводителей. Продажа продуктов питания.
			section.block  
				.block__text
					p.section_h2 Поставленные задачи 
					p.section-subtitle Клиент зарегистрировался на Пульсе цен в 2019 году, чтобы решить следующие бизнес-задачи:
					.block__list
						+listRandom("https://www.pulscen.ru/system/ckeditor_assets/pictures/281056/content_1.png", "Создать сайт и загрузить весь каталог")
						+listRandom("https://www.pulscen.ru/system/ckeditor_assets/pictures/281057/content_2.png", "Обеспечить трафик и динамику роста")
						+listRandom("https://www.pulscen.ru/system/ckeditor_assets/pictures/281058/content_3.png", "Обеспечить узнаваемость компании в нужных регионах")
				.block__img
					img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/281059/content_rezultat.png")
			section.block
				.block__text
					p.section_h2 Что было сделано
					p.section-subtitle Для решения поставленных задач было найдено оптимальное решение: подключение приоритетного пакета размещения на тарифе «Платина» и отдельно кластер «Сибирь». Кроме того, подключили доставку на отдельных городах.
					.block__zone
						p.heading Работа по сайту
						.list
							.list__li Создали сайт на домене второго уровня, который легко запоминается.
							.list__li Разработали оформление в соответствии с фирменным стилем компании, требованиями юзабилити и трендами интернет-продаж.
							.list__li Подключили протокол безопасности соединения клиента с сайтом (SSL-сертификат). 
							.list__li Привязали сайт к сервисам Вебмастер Яндекс и Google для старта поисковой оптимизации. 
							.list__li Проработали каталог:
								.list__li_circle сделали удобную навигацию по группам товаров;
								.list__li_circle  создали правильную структуру групп и распределение по ним товаров.
							.list__li Заполнили информационные разделы сайта: страницы «о компании», «контакты» и «доставка и оплата».
							.list__li Подключили счетчик Яндекс Метрики для отслеживания активности посетителей, настройка целей для получения более глубоких данных.
							.list__li Подключили счетчик Яндекс Метрики для отслеживания активности посетителей, настройка целей для получения более глубоких данных.
					.block__zone
						p.heading Работа с товарами
						.list
							.list__li Загрузили товарную массу: в первый год 318 позиций, сейчас 1082 товара.
							.list__li Привязали товары к рубрикам Пульса цен, чтобы покупатели могли быстро их находить.
							.list__li Прописали названия, краткие и полные характеристики. 
							.list__li Определили приоритетные товары и проработали их полное оформление.оптимизации. 
							.list__li Настроили регулярное и своевременное обновление каталога, изображений, описаний и тд.
					.block__zone
						p.heading Другое
						.list
							.list__li На главной странице разместили витрину приоритетных товаров. 
							.list__li Создали и разместили слайдер с главными товарами. 
							.list__li Подключили выделенный телефонный номер для оценки звонков и возможности допродажи не дозвонившимся клиентам.
							.list__li Подключили заказчика к базе готовых заказов на все регионы России — уникальная разработка Пульса цен — сервису «Закупки». Клиенты, у которых нет времени искать большой перечень товаров поштучно, загружают весь список и алгоритм автоматически подбирает поставщиков. Уведомления о заказе приходит на почту к тем компаниям, кто может закрыть сделку.
					p у данного клиента, всегда хорошая посещаемость на сайте, высокие показатели по целевым действиям, в ЛК - хороший объем заказов, работают активно с заявками спроса. Основные посетители по переходам идут с ПЦ.
				.block__img
					img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/281060/content_sdelano.png")
			section.block  
				.block__text
					p.section_h2 Результаты 
					p.section-subtitle Через месяц после подключения тарифа «Платина» достиг средних показателей и стал планомерно расти каждый год. На данный момент наблюдается тренд роста просмотров и посетителей с сентября 2021.
					p.section_h3 Статистика сайта в сентябре по сравнению с августом:
					.section-offer
						p <span>+58,8%</span> просмотров товаров
						p <span>+49,4%</span> посетителей
					p Всего с января 2021 года с Пульса цен поступило 440 заказов на общую сумму больше 28 000 000 рублей.  Еще 85 клиентов отложили товары в корзину, а 868 - просмотрели контакты РТС.
					.line
					p С начала сотрудничества компании с Пульсом цен показатели сайта выросли:
					.section-offer.section-offer2
						p просмотры c <span>0</span> до <span>2 980</span> в месяц (значение среднее)
						p Посетители c <span>0</span> до <span>1 890</span> в месяц (значение среднее)
				.block__img
					p.section_h3 Сайт компании РТС на Пульсе цен
					img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/281065/content_image2_1.png")
			section.section-btns
				+button("Хочу такие же результаты", "section-button btn")
				+buttonLink("Хочу посмотреть другие кейсы", "section-buttonWhite btn modal-close")



