/** @format */
$corporate_color: #028dd8;
$main_text_color: #1d4262;
$forButton: #0d5490;
$color_white: #fff;
$accentF: #8a85db;
$accent: linear-gradient(232.56deg, #ff977a -13.08%, #ff6f50 130.61%);
$accentColor: #ff977a;

:root {
	--section: 100px;
	--block: 60px;
}
