/** @format */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap");
body {
	width: 100%;
	height: auto;
	background-image: url(https://www.pulscen.ru/system/ckeditor_assets/pictures/263739/content_bg.png);
	background-repeat: repeat;
	background-attachment: fixed;
	font-family: "Montserrat", sans-serif !important;
}
#button-up {
	display: none;
	margin: 0;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #0e7c86;
	cursor: pointer;
	z-index: 99999;
	width: 60px;
	height: 60px;
	padding: 10px;
	border-radius: 30px;
	background-image: url(https://pulscenclub.ru/2021/temp/ty/img/up-arrow.svg);
	background-position: center center;
	background-size: 40%;
	background-repeat: no-repeat;
	transition: all 0.3s ease;
}
#button-up:hover {
	background-color: gray;
}
#button-up img {
	width: 60%;
}

section {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

#slider {
	margin-bottom: 60px;
}
.container_build {
	width: 100%;
	max-width: 1280px;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.my_btn {
	font-size: 14px;
	color: #fff;
	background-color: #4d4d4d;
	display: inline-block;
	padding: 10px 30px;
	border-radius: 50px;
	min-width: 180px;
	text-decoration: none;
	transition: all 0.3s ease;
	text-align: center;
}
#purple {
	background-color: #cd9763;
}
.my_btn_color {
	font-size: 16px;
	color: #fff;
	background-color: tomato;
	display: inline-block;
	padding: 10px 30px;
	text-decoration: none;
	transition: all 0.3s ease;
	min-width: 240px;
	text-align: center;
}
.red_btn {
	font-size: 16px;
	color: #fff;
	background-color: red;
	display: inline-block;
	padding: 10px 30px;
	text-decoration: none;
	transition: all 0.3s ease;
	min-width: 240px;
	text-align: center;
}

.my_btn:hover,
.my_btn_color:hover,
.red_btn:hover {
	opacity: 0.7;
}

.build_header {
	width: 100%;
	height: auto;
	margin: 0 auto;
	z-index: 2;
}

.build_header_info,
.build_footer_info {
	width: 100%;
	height: auto;
	max-width: 1420px;
	margin: 0 auto;
	padding: 20px 0;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}

.logo {
	width: 100%;
	max-width: 240px;
	height: auto;
	color: #fff;
	text-align: left;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.logo p {
	font-size: 12px;
	width: 100%;
	color: #262626;
	font-weight: 700;
	text-align: right;
	padding: 10px 0 0;
	margin: 14px 0;
	border-top: 1px solid #cd9763;
}

.logo img {
	width: 100%;
}
.logo_info {
	width: auto;
	height: auto;
	display: block;
	font-size: 16px;
	text-align: left;
	color: #fff;
	margin: 10px 0 0;
}

.header_right,
.footer_right {
	width: auto;
	height: auto;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #cd9763;
	padding-bottom: 12px;
}
.contacts {
	width: auto;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin: 0 40px 0 0;
}
.contacts_phones {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}
.contacts_phones p {
	font-size: 12px;
	padding: 8px 0;
	font-weight: 700;
	color: #4d4d4d;
}
.contacts_mail,
.phone {
	color: #4d4d4d;
	font-weight: 600;
	font-size: 20px;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
}
.contacts_mail:hover,
.phone:hover {
	opacity: 0.7;
}
.contacts_mail {
	margin: 0 40px;
}
.phone {
	margin-bottom: 0;
}
.contacts_mail img,
.phone img {
	width: 24px;
	height: 24px;
	margin-right: 10px;
}

.btns {
	width: auto;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}
.btns .my_btn,
.btns .my_btn_color {
	margin: 0 10px;
}

.items_build {
	width: 100%;
	max-width: 1440px;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 60px 0;
}

.item_build {
	width: calc(100% / 3 - 20px);
	margin: 10px;
	height: 340px;
	background-color: gray;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.slider_all {
	width: 100%;
	height: auto;
}
.slider {
	width: 100%;
	max-width: 1420px;
	background-color: lightgray;
	margin: 0 auto;
	height: auto;
}

.sl {
	width: auto;
	text-align: center;
	height: auto;
	padding: 20px;
	border: 1px solid red;
	color: #fff;
	background-color: #262626;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.sl_info {
	width: 240px;
	height: 260px;
	background-color: red;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 36px;
}

#footer {
	width: 100%;
	height: auto;
	background-color: #06464c;
	padding: 60px 0;
}
.footer_info {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.requirement {
	color: #a2d4d8;
	font-size: 13px;
	line-height: 24px;
}
.requirement span {
	color: #a2d4d8;
	margin-right: 10px;
	cursor: pointer;
	white-space: nowrap;
}
.requirement span:hover {
	opacity: 0.7;
}
.link_mail {
	color: #fff !important;
	font-size: 18px !important;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
}
.line {
	width: 1px;
	height: 100%;
	min-height: 140px;
	background-color: #338289;
}
.link_mail:hover {
	opacity: 0.7;
}
.link_mail img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
