<!-- @format -->
include ./miksins.pug


html(lang="ru")
	head
		meta(charset="utf-8")
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
		title= "все включено"
	body.js-body
		.main_content
			.scar
			header
				include ./modules/toolbar.pug
				.header
					.content
						.header__wrapper
							.header__text
								.header__heading.section_h1 Что Тигр грядущий нам готовит
								.offer
									p Ищите себя на карточках, кликайте по ней и читайте прогноз на весь следующий год.
									p Любопытство не возбраняется! Можно подсмотреть гороскоп коллеги, чтобы обойти его в результатах и получить премию.
			.section.carts 
				.content
					.carts__wrapper
						.carts__item.item
							.item__front
								.item__img 
									img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/295528/content_ill_1.png", alt="")
								.item__text 
									p Для больших боссов
							.item__back.back
								.back__offer 
									.back__question.fat Кто Вы:
									.back__answer владелец бизнеса, директор, генеральный директор
								.back__offer 
									.back__question.fat Ваш прогноз:
									.back__answer В наступающем году Вы наконец-то сможете оторваться от дел и позволить себе отпуск, о котором давно мечтали. Вилла на Мальдивах, синий океан, белоснежный песок — и никаких мыслей о работе. Ведь Вы уверены в своей команде, и в том, что сотрудники справятся со всеми задачами. 
								.back__offer 
									.back__answer Уже во втором квартале 2022 Вы исполните свою мечту о расширении бизнеса: поможет новый проект Пульса цен 'Дилер-Дистрибьютор', позволяющий моментально пополнить линейку товаров от лидеров производства.
						.carts__item.item
							.item__front.item__bg2
								.item__img 
									img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/295529/content_ill_2.png", alt="")
								.item__text 
									p Для тех, кто продаст снег эскимосу
							.item__back.back
								.back__offer 
									.back__question.fat Кто Вы:
									.back__answer менеджер по продажам, руководитель отдела продаж
								.back__offer 
									.back__question.fat Ваш прогноз:
									.back__answer Отличные новости! План продаж 2022 года будет перевыполнен, и Вы заработаете повышенный бонус. Вы без труда убедите директора, что компании необходим приоритетный пакет на Пульсе цен. Звонков и заявок с портала придет столько, что Ваши менеджеры не будут успевать их обрабатывать.
								.back__offer 
									.back__answer Ваш девиз на 2022 год “Больше клиентов! Больше продаж! Выше прибыль!”. 
						.carts__item.item
							.item__front.item__bg2
								.item__img 
									img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/295530/content_ill_3.png", alt="")
								.item__text 
									p Для тех, кто умеет добывать клиентов 
							.item__back.back
								.back__offer 
									.back__question.fat Кто Вы:
									.back__answer маркетолог, руководитель отдела маркетинга, менеджер по рекламе, специалист по лидогенерации 
								.back__offer 
									.back__question.fat Ваш прогноз:
									.back__answer Ваши инициативы в 2022 году будут иметь успех на успех. Вам наконец-то удастся примирить CPC и LTV, а ваш ROI будет стремиться к звездам. 
								.back__offer 
									.back__answer Кстати, о звездах: Вам может прилететь дополнительная “звезда” к тарифу на Пульсе цен, не упустите ее. А еще Вы примете правильное решение и сможете сэкономить до 30% рекламного бюджета. Как Вам это удастся? Следите за анонсами на Пульсе цен :) 

						.carts__item.item
							.item__front
								.item__img 
									img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/295531/content_ill_4.png", alt="")
								.item__text 
									p Для тех, кто освоил html и ненавидит Windows
							.item__back.back
								.back__offer 
									.back__question.fat Кто Вы:
									.back__answer IT-специалист, администратор сайта, системный администратор 
								.back__offer 
									.back__question.fat Ваш прогноз:
									.back__answer Год для Вас будет спокойным и продуктивным. “Железо” не будет глючить, а сервера не будут падать. Появятся новые интересные гаджеты, которые Вам захочется подержать в руках. 
								.back__offer 
									.back__answer И самое главное, исполнится Ваша мечта о том, чтобы все всегда работало, а Вы могли спокойно попивать кофеек. Ведь сайт на Пульсе цен не ломается, работает исправно днем и ночью.
						.carts__item.item
							.item__front.item__bg2
								.item__img 
									img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/295745/content_ill_5.png", alt="")
								.item__text 
									p Для тех, кто умеет сводить баланс и не путает дебет с кредитом
							.item__back.back
								.back__offer 
									.back__question.fat Кто Вы:
									.back__answer главбух, бухгалтер
								.back__offer 
									.back__question.fat Ваш прогноз:
									.back__answer Квартальные отчеты не доставят проблем, а баланс всегда будет сходиться. Вас будут приводить в пример и считать незаменимым. Почему? Да потому, что благодаря Вам компания сэкономит на командировках менеджеров по продажам. 
								.back__offer 
									.back__answer Вы подскажете шефу, что с тарифом “Вся Россия” на Пульсе цен можно получать клиентов со всей страны, не выходя из кабинета.
						.carts__item.item
							.item__front.item__bg2
								.item__img 
									img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/295746/content_ill_6.png", alt="")
								.item__text 
									p Для тех, кто всегда знает, где и что выгоднее купить
							.item__back.back
								.back__offer 
									.back__question.fat Кто Вы:
									.back__answer снабженец, закупщик 
								.back__offer 
									.back__question.fat Ваш прогноз:
									.back__answer Вы будете наслаждаться чувством своей значимости. Ведь Вы - сотрудник незаменимый и уникальный. К Вам можно, как в русской сказке, обращаться словами: “Принеси то, не знаю что” — и Вы найдете именно то, что нужно. 
								.back__offer 
									.back__answer В Новом году у Вас появятся новые выгодные поставщики. А, чтобы Вам было проще их найти, на Пульсе цен создан сервис “Закупки”. Оставляете заявку, и поставщик сам к Вам обращается. Да еще и не один, Вы сможете выбирать по цене и качеству.
						.carts__item.item
							.item__front
								.item__img 
									img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/295534/content_ill_7.png", alt="")
								.item__text 
									p Для тех, кто хорошо себя вел в этом году
							.item__back.back
								.back__offer 
									.back__question.fat Кто Вы:
									.back__answer хороший человек на любой должности
								.back__offer 
									.back__question.fat Ваш прогноз:
									.back__answer Вообще мы разместили этот прогноз, чтобы убедиться, что идеальных людей не бывает. Мы думали, это будет самая непопулярная карточка. Но мы ошиблись: Вы существуете! И заслуживаете исполнения любой мечты.
								.back__offer 
									.back__answer Так пусть же 2022 год подарит Вам эту возможность - исполнить свое заветное желание! Будь это отдых всей семьей на побережье, новая машина, или жилье, о котором не смели мечтать. Все возможно! Главное верить и действовать!
						.carts__item.item
							.item__front.item__bg2
								.item__img 
									img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/295747/content_ill_8.png", alt="")
								.item__text 
									p Для тех, кто мечтает о повышении
							.item__back.back
								.back__offer 
									.back__question.fat Кто Вы:
									.back__answer амбициозный специалист с большими планами
								.back__offer 
									.back__question.fat Ваш прогноз:
									.back__answer Вас ждет долгожданное повышение: офис переедет на два этажа выше :). Это была шутка, а теперь серьезно. 
								.back__offer 
									.back__answer Ваши усердие и целеустремленность получат высокую оценку. Желанная должность будет Вашей, только добивайтесь ее цивилизованными способами (не стоит идти “по трупам”, это навредит вашей карме). Планеты подсказывают самый быстрый путь к повышению: с помощью “Платинового” пакета Пульса цен Вы увеличите продажи многократно, и начальство непременно Вас повысит.  
						.carts__item.item
							.item__front.item__bg2
								.item__img 
									img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/295748/content_ill_9.png", alt="")
								.item__text 
									p Для тех, кто засиделся на удаленке 
							.item__back.back
								.back__offer 
									.back__question.fat Кто Вы:
									.back__answer специалист на любой должности, которому надоели снующие под ногами дети и коты 
								.back__offer 
									.back__question.fat Ваш прогноз:
									.back__answer Вы снова увидите любимый офис наяву, а не во сне. Сможете общаться с коллегами за чашкой кофе и вместе ходить на бизнес-ланч в свободно открытые рестораны. А еще Вас ждут вкусные фуршеты на мероприятиях Пульса цен. Вы уже соскучились по нашим бутербродам, правда? С удовольствием скажем: увидимся в Новом году! 
			footer 
				.content
					.footer__wrapper
						.footer__text Принимаем поздравления!
						.footer__Massagers
							+linkMassagers
						.massenger_futer
							img(src="https://www.pulscen.ru/system/ckeditor_assets/pictures/295459/content_vector_446.png")
							a(href="tel:88001009191").numder_toolbar.phone-js 8 800 100 91 91
	//- p._event {crm_analytics:show_page(network_actions,НК_Новый_год_Бонусы_curData)}

